<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div th:fragment="sidebar-container">
    <div class="sidebar-container">
        <div class="sidebar-logo">
            Blog engine
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a th:href="@{/}">
                    <i class="fa fa-home" aria-hidden="true"></i> About project
                </a>
            </li>
            <li>
                <a th:href="@{/index}">
                    <i class="fa fa-home" aria-hidden="true"></i> Homepage
                </a>
            </li>
            <li th:if="${session.userLogin} == null" th:href="@{/login}">
                <a th:href="@{/login}">
                    <i class="fa fa-home" aria-hidden="true"></i> Login
                </a>
            </li>
            <li>
                <a th:href="@{/registration}">
                    <i class="fa fa-home" aria-hidden="true"></i> Registration form
                </a>
            </li>
            <li th:if="${session.userLogin} != null" th:href="@{/logout}">
                <a th:href="@{/logout}">
                    <i class="fa fa-home" aria-hidden="true"></i> Logout
                </a>
            </li>
            <li th:if="${session.userLogin} != null" th:href="@{/logout}">
                <a th:href="@{/swagger-ui.html}">
                    <i class="fa fa-home" aria-hidden="true"></i> Swagger
                </a>
            </li>
        </ul>
        <ul class="sidebar-navigation" th:if="${session.userRole} == true">
            <li class="header">Entry menu</li>
            <li>
                <a th:href="@{/entry/create}">
                    <i class="fa fa-home" aria-hidden="true"></i> Create entry
                </a>
            </li>
            <li>
                <a th:href="@{/entry/edit}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Edit/delete entry
                </a>
            </li>
            <li class="header">User menu</li>
            <li>
                <a th:href="@{/users}">
                    <i class="fa fa-users" aria-hidden="true"></i> Users authorities
                </a>
            <li class="header">Comment menu</li>
            </li>
            <li>
                <a th:href="@{/comments}">
                    <i class="fa fa-cog" aria-hidden="true"></i> Delete comments
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>