body{
    margin:0px;
    font-family: "Tahoma";
}
a{
    color: white;
    text-decoration: none;
}
textarea{
    width: 30%;
    height: 5%;
    padding: 1%;
    margin-left: 35%;
    margin-bottom: 2%;
    margin-top: 1%;
    display: block;
    font-family: "Tahoma";
    border: #aaa;
    border-radius: 1px;
    border: solid;
}
hr {
    border-color: #f1eae0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #fff;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #2574A9;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}
.send-button{
    width: 15%;
    display: block;
    margin-left: 45%;
    margin-top: 15px;
    padding: 5px;
    background-color: #36b03c;
    text-align: center;
    border-radius: 10px;
    font-family: "Tahoma";
    border-color: #36b03c;
    font-size: 15px;
    box-shadow: 5px 5px 10px;
}
.delete-button{
    width: 100%;
    display: inline-block;
    margin: 10px;
    padding: 3px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    border-color: #36b03c;
    box-shadow: 5px 5px 10px;
    font-family: "Tahoma";
    font-size: 15px;
}
.delete-comment-button{
    width: 100%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: red;
    text-align: center;
    border-color: #36b03c;
    font-family: "Tahoma";
    font-size: 15px;

}
.inputs{
    width: 20%;
    margin-bottom: 3%;
    display: block;
    padding: 5px;
    margin-left: 41.5%;
    font-family: "Tahoma";
    text-align: center;
}
.entry-title{
    width: auto;
    display: inline-block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.entry-author{
    width: auto;
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-bottom: 15px;
}
.hyperlink{
    color: blue;
    font-size: 18px;
    text-decoration: none;
}
.list{
    display: inline-block;
    width: 15%;
    height: auto;
    text-align: center;

}
#main-panel {
    display: inline-block;
    width: calc(96% - 220px);
    margin-left: 220px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    height: 75%;

}
.handler{
    margin-top: 15%;
    margin-left: 15%;
    font-size: 18px;
    color: black;
}
.validation-error{
    margin-left: 35%;
    margin-bottom: 20px;
    color: red;
    font-size: 16px;
}
.comment-author{
    color: #385898;
    font-weight: bold;
    display: inline-block;
}
#comment-header{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}
#comments{
    font-family: "Tahoma";
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 15px;
    width: 100%;
    height-min: auto;
    display: inline-block;
}
#delete-comment-button-position{
    display: inline-block;
    float: right;
    margin-right: 2%
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > a:hover:before,
.rating > a:hover ~ a:before {
    content: "\2605";
    position: absolute;
}


