<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create entry</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <form action="#" th:action="@{/entry/create}" th:object="${entry}" method="post">
            <textarea th:field="*{title}" placeholder="Title"></textarea>
            <td class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
            <textarea style="height: 20vh" class="title-textarea" th:field="*{entry}" placeholder="Entry"></textarea>
            <td class="validation-error" th:if="${#fields.hasErrors('entry')}" th:errors="*{entry}"></td>
            <input class="send-button" type="submit" value="Create">
        </form>
    </div>
</div>
</body>
</html>