<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit entry</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="list">Title</div>
        <div class="list">Id</div>
        <div th:each="entry:${entries}">
            <div class="list" th:text="${entry.title}"></div>
            <div class="list" th:text="${entry.id}"></div>
            <div class="list">
                <a class="hyperlink" th:href="@{'/entry/edit/' + ${entry.id}}">Edit</a>
            </div>
            <div class="list">
                <form th:object="${entry}" th:action="@{'/entry/edit/' + ${entry.id}}" th:method="delete">
                    <input class="delete-button" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>