<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="handler">
            <label th:if="${userCreated} == true">
                Account successfully created. You can login
                <a class="hyperlink" th:href="@{/login}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${userUpdated} == true">
                User authorities updated. You can go back to users authorities list
                <a class="hyperlink" th:href="@{/users}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${userDeleted} == true">
                <span th:text="${login}"></span>
                succesfully deleted. You can go back to users authorities list
                <a class="hyperlink" th:href="@{/users}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${badRequest} == true">
                Bad request. You can go back to users authorities list
                <a class="hyperlink" th:href="@{/users}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${userNotFound} == true">
                Bad request user with specified id does not exist. Back to users authorities list
                <a class="hyperlink" th:href="@{/users}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${entryCreated} == true">
                Entry created. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${entryUpdated} == true">
                Entry updated. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${entryDeleted} == true">
                Entry deleted. You can go back to entries list
                <a class="hyperlink" th:href="@{/entry/edit}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${entryNotFound} == true">
                Entry with specified id does not exist. You can go back to entries list
                <a class="hyperlink" th:href="@{/entry/edit}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${commentValidationError} == true">
                Bad request. Entry id have to be integer and comment can not be blank or null.
                <a class="hyperlink" th:href="@{/index}">Homepage</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${commentCreated} == true">
                Comment succesffully created. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${commentDeleted} == true">
                Comment deleted. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${entryDoesNotExist} == true">
                Bad request. You can not comment entries which does not exist. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${commentNotFound} == true">
                Bad request. Comment with given id does not exist. You can go back to comments list
                <a class="hyperlink" th:href="@{/comments}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${ratingBadRequest} == true">
                Bad request. Rating out of range. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
        <div class="handler">
            <label th:if="${correctlyVoted} == true">
                Thanks for Your opinion about entry. You can go back to homepage
                <a class="hyperlink" th:href="@{/index}">here</a>
            </label>
        </div>
    </div>
</div>
</body>
</html>