<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div th:each="entry:${entries}">
            <div class="entry-title">
                <span th:text="${entry.title}"></span>
            </div>
            <div class="entry-author">
                <span th:text="${entry.author}"></span>
            </div>
            <div style="clear: both"></div>
            <div class="rating" th:if="${session.userLogin} != null">
                <a style="color: black" th:href="@{'/entry/' + ${entry.id} + '/5'}">☆</a>
                <a style="color: black" th:href="@{'/entry/' + ${entry.id} + '/4'}">☆</a>
                <a style="color: black" th:href="@{'/entry/' + ${entry.id} + '/3'}">☆</a>
                <a style="color: black" th:href="@{'/entry/' + ${entry.id} + '/2'}">☆</a>
                <a style="color: black" th:href="@{'/entry/' + ${entry.id} + '/1'}">☆</a>
                <span>:etaR</span>
            </div>
            <div>
                <span th:text="${entry.entry}"></span>
            </div>
            <div th:each="rating:${ratings}">
                <div th:if="${entry.id} == ${rating.entryId}">
                    <hr>
                    <span>Post average rating: </span>
                    <span th:text="${rating.averageRating}"></span>
                    <span>/ 5,0 (</span>
                    <span th:text="${rating.totalRatings}"></span>
                    <span>votes)</span>
                </div>
            </div>
            <div id="comment-header">
                <span>Comments</span>
                <hr>
            </div>
            <div>
                <div th:each="comment:${comments}">
                    <div id="comments" th:if="${entry.id} == ${comment.entryId}">
                        <div class="comment-author" th:text="${comment.author}"></div>
                        <div th:if="${session.userRole} == true" id="delete-comment-button-position">
                            <form th:object="${comment}" th:action="@{'/comments/delete/' + ${comment.id}}"
                                  th:method="delete">
                                <input class="delete-comment-button" type="submit" value="Delete">
                            </form>
                        </div>
                        <div class="comment" th:text="${comment.comment}"></div>
                        <hr>
                    </div>
                </div>
                <div th:if="${session.userLogin} != null">
                    <form action="#" th:action="@{/comment/create}" th:object="${comment}" th:method="post">
                        <div>
                            <textarea th:field="*{comment}" placeholder="comment"></textarea>
                        </div>
                        <input type="hidden" th:value="${entry.id}" name="entryId">
                        <input class="send-button" type="submit" value="Create comment">
                    </form>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>