<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="handler">
            <label>Succesfully loged in. Back to
                <a class="hyperlink" th:href="@{/index}">homepage</a>
            </label>
        </div>
    </div>
</div>
</body>
</html>