<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User role panel</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="list" style="margin-top: 15%; margin-left: 10%">Login</div>
        <div class="list">Id</div>
        <div class="list">Role</div>
        <form th:object="${user}" th:action="@{'/users/edit/' + ${user.login}}" th:method="put">
            <div class="list" style="margin-left: 10%" th:text="*{login}"></div>
            <div class="list">
                <select th:field="*{role}">
                    <option th:value="ADMIN">ADMIN</option>
                    <option th:value="USER">USER</option>
                </select>
            </div>
            <div class="list">
                <input class="send-button" style="width: 100%" type="submit" value="Update">
            </div>
        </form>
    </div>
</div>
</body>
</html>