<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update entry</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <form th:object="${entry}" th:action="@{'/entry/edit/' + ${entry.id}}" th:method="put">
            <div class="handler" style="margin-top: 5%">Title</div>
            <textarea th:field="*{title}"></textarea>
            <div class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            <div class="handler" style="margin-top: 2%">Entry</div>
            <textarea style="height: 20vh" class="title-textarea" th:field="*{entry}"></textarea>
            <div class="validation-error" th:if="${#fields.hasErrors('entry')}" th:errors="*{entry}"></div>
            <input class="send-button" type="submit" value="Update">
        </form>
    </div>
</div>
</body>
</html>